/* styles.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #007bff;
  }
  
  .header .brand {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
  }
  
  .header .nav-item {
    margin-left: 10px;
  }
  
  .header .nav-link {
    color: #007bff;
  }
  
  .header .nav-link:hover {
    color: #0056b3;
    text-decoration: none;
  }

 /* Hero section */
.hero {
  min-height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/villaonthebeach.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display-4 {
  font-weight: 800;
}

/* Featured listings section */
.featured-listings .card {
  margin-bottom: 30px;
}

/* Call-to-action section */
.cta {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 5px;
}

.contactSlider {
  display: flex;
  align-items: center;
  
}
  