{% extends 'base.html' %}

{% block content %}
<div class="container">
  <!-- Hero section -->
  <section class="hero">
    <div class="container text-center">
      <h1 class="display-4">Welcome to Real Estate</h1>
      <p class="lead">Find your dream home today</p>
      <a href="{{ url_for('listings') }}" class="btn btn-primary">View Listings</a>
    </div>
  </section>
  

  <!-- Featured listings section -->
  <section class="featured-listings my-5">
    <div class="row">
      <div class="container">
        <!-- Featured Properties -->
        <div class="row mt-4">
          <div class="col text-center">
            <h2>Featured Properties</h2>
          </div>
        </div>
        <div class="row mt-4">
          {% for listing in featured_listings %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ url_for('static', filename=listing.image) }}" alt="Main image">
                <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('property_details', listing_id=listing._id) }}" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                  <small class="text-muted">${{ listing.price }}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- Call-to-action section -->
  <section class="cta my-5">
    <div class="row">
      <div class="col-md-9">
        <h3 class="mb-0">Ready to find your new home?</h3>
        <p class="lead mb-0">Sign up now to start your search!</p>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <a class="btn btn-primary w-100" href="{{ url_for('signup') }}">Sign Up</a>
      </div>
    </div>
  </section>
</div>
{% endblock %}
